
<router-outlet></router-outlet>

<ngx-magic-carousel
  [height]="350"
  [cellWidth]="260"
  [margin]="16"
  [marginFirst]="16"
  [marginLast]="16"
  [transition]="300"
  [arrows]="true"
  [swipeByMouse]="true"
  (events)="onEvent($event)"
  #carousel
>
  <ng-container ngProjectAs="carousel-cells">
    <div class="carousel-cell" *ngFor="let slide of slides; index as i" [style.background-image]="'url(' + slide + ')'" style="height: 100%" (click)="clickHandler(slide)">
    </div>
  </ng-container>
</ngx-magic-carousel>


<button (click)="removeFirst()" style="margin-top: 15px;">remove first</button>

